/*! normalize.css v2.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
/* line 22, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
/* line 32, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
audio,
canvas,
video {
  display: inline-block; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
/* line 50, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 64, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Removes default margin.
 */
/* line 74, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 86, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
/* line 95, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
/* line 108, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
h1 {
  font-size: 2em; }

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 116, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 125, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
b,
strong {
  font-weight: bold; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
/* line 133, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 8/9.
 */
/* line 141, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
/* line 154, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 163, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Sets consistent quote types.
 */
/* line 173, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
/* line 181, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
small {
  font-size: 80%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 190, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 197, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
sup {
  top: -0.5em; }

/* line 201, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
/* line 213, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
img {
  border: 0; }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
/* line 221, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
/* line 233, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
/* line 245, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 256, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
/* line 270, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 282, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 297, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements.
 */
/* line 307, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
/* line 317, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 328, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
          box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 341, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 4+.
 */
/* line 350, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 360, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 373, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 378, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0; }

/* line 384, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_normalize.scss */
body, input, textarea, button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("fonts/proximanova-reg.eot");
  src: url("fonts/proximanova-reg.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-reg.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("fonts/proximanova-bold.eot");
  src: url("fonts/proximanova-bold.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

/* Magnific Popup CSS */
/* line 78, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

/* line 95, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

/* line 107, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
          box-sizing: border-box; }

/* line 122, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

/* line 133, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-align-top .mfp-container:before {
  display: none; }

/* line 140, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

/* line 150, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

/* line 157, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-ajax-cur {
  cursor: progress; }

/* line 161, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

/* line 167, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

/* line 174, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-auto-cursor .mfp-content {
  cursor: auto; }

/* line 182, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/* line 190, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-loading.mfp-figure {
  display: none; }

/* line 209, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-hide {
  display: none !important; }

/* line 220, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  /* line 230, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-preloader a {
    color: #cccccc; }
    /* line 232, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
    .mfp-preloader a:hover {
      color: white; }

/* line 240, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-s-ready .mfp-preloader {
  display: none; }

/* line 247, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-s-error .mfp-content {
  display: none; }

/* line 255, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
          box-shadow: none; }
/* line 268, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

/* line 276, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  /* line 298, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  /* line 305, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-close:active {
    top: 1px; }

/* line 310, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-close-btn-in .mfp-close {
  color: #333333; }

/* line 316, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

/* line 326, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px; }

/* line 337, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  /* line 350, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-arrow:active {
    margin-top: -54px; }
  /* line 354, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  /* line 363, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-arrow:before, .mfp-arrow:after,
  .mfp-arrow .mfp-b,
  .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  /* line 377, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-arrow:after,
  .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  /* line 385, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-arrow:before,
  .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

/* line 393, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-arrow-left {
  left: 0; }
  /* line 397, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-arrow-left:after,
  .mfp-arrow-left .mfp-a {
    border-right: 17px solid white;
    margin-left: 31px; }
  /* line 402, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-arrow-left:before,
  .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3f3f3f; }

/* line 408, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-arrow-right {
  right: 0; }
  /* line 411, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-arrow-right:after,
  .mfp-arrow-right .mfp-a {
    border-left: 17px solid white;
    margin-left: 39px; }
  /* line 416, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-arrow-right:before,
  .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3f3f3f; }

/* line 426, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  /* line 429, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  /* line 434, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

/* line 438, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  /* line 443, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: black; }

/* Main image in popup */
/* line 463, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
/* line 478, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-figure {
  line-height: 0; }
  /* line 480, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444444; }
  /* line 494, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-figure small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  /* line 500, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-figure figure {
    margin: 0; }

/* line 504, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

/* line 512, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px; }

/* line 521, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-image-holder .mfp-content {
  max-width: 100%; }

/* line 528, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
   * Remove all paddings around the image on small screen
   */
  /* line 541, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  /* line 546, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  /* line 552, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  /* line 556, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  /* line 561, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
            box-sizing: border-box; }
    /* line 571, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  /* line 575, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  /* line 579, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }
@media all and (max-width: 900px) {
  /* line 599, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-arrow {
    -webkit-transform: scale(0.75);
        -ms-transform: scale(0.75);
            transform: scale(0.75); }

  /* line 603, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
        -ms-transform-origin: 0;
            transform-origin: 0; }

  /* line 607, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
        -ms-transform-origin: 100%;
            transform-origin: 100%; }

  /* line 611, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
/* line 623, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-ie7 .mfp-img {
  padding: 0; }
/* line 626, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
/* line 633, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-ie7 .mfp-container {
  padding: 0; }
/* line 636, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
/* line 639, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_magnific.scss */
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

/* line 1, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_common.scss */
body {
  font: 14px/1.429 "Proxima Nova", Arial, sans-serif; }

/* line 4, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_common.scss */
a {
  color: #2a5f94;
  text-decoration: none; }
  /* line 7, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_common.scss */
  a:hover {
    opacity: .7; }

/* line 94, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_vars.scss */
.clear:before {
  content: " ";
  display: table; }
/* line 98, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_vars.scss */
.clear:after {
  content: " ";
  display: table;
  clear: both; }

/* line 14, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_common.scss */
.header {
  padding: 30px 0 30px;
  margin-bottom: 20px; }

/* line 18, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_common.scss */
.logo {
  margin-top: 30px;
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05em;
  display: block;
  color: #000; }

/* line 28, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_common.scss */
.social {
  position: absolute;
  right: 100px; }

/* line 32, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_common.scss */
.social-item {
  display: inline-block;
  margin-left: 30px;
  text-indent: -1000em; }

/* line 37, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_common.scss */
.social-item_fb {
  background: url("../images/i-sdc4d7bcc0e.png") 0 -269px no-repeat;
  width: 7px;
  height: 15px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resoultion: 192dpi) {
    /* line 37, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_common.scss */
    .social-item_fb {
      background: url("../images/r-sa565c79b31.png") 0 -490px no-repeat;
      background-position: 0 -245px;
      -webkit-background-size: 35px, 260px;
              background-size: 35px, 260px; } }

/* line 38, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_common.scss */
.social-item_vk {
  background: url("../images/i-sdc4d7bcc0e.png") 0 -219px no-repeat;
  width: 17px;
  height: 15px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resoultion: 192dpi) {
    /* line 38, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_common.scss */
    .social-item_vk {
      background: url("../images/r-sa565c79b31.png") 0 -410px no-repeat;
      background-position: 0 -205px;
      -webkit-background-size: 35px, 260px;
              background-size: 35px, 260px; } }

/* line 39, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_common.scss */
.social-item_tw {
  background: url("../images/i-sdc4d7bcc0e.png") 0 -244px no-repeat;
  width: 13px;
  height: 15px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resoultion: 192dpi) {
    /* line 39, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_common.scss */
    .social-item_tw {
      background: url("../images/r-sa565c79b31.png") 0 -450px no-repeat;
      background-position: 0 -225px;
      -webkit-background-size: 35px, 260px;
              background-size: 35px, 260px; } }

/* line 41, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_common.scss */
.langs {
  position: absolute;
  left: 100px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px; }

/* line 48, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_common.scss */
.lang {
  margin-right: .5em; }

/* line 53, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_common.scss */
.item {
  margin-bottom: 56px; }

/* line 56, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_common.scss */
.item_ph {
  display: none; }
  /* line 58, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_common.scss */
  .item_ph.is__active {
    display: block; }

/* line 62, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_common.scss */
.item-image {
  width: 160px;
  height: 160px; }
  /* line 65, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_common.scss */
  .item-image img {
    display: block;
    max-height: 100%;
    margin: auto; }

/* line 71, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_common.scss */
.item-fb {
  display: block;
  float: right;
  background: url("../images/i-sdc4d7bcc0e.png") 0 -182px no-repeat;
  width: 35px;
  height: 27px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resoultion: 192dpi) {
    /* line 71, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_common.scss */
    .item-fb {
      background: url("../images/r-sa565c79b31.png") 0 -344px no-repeat;
      background-position: 0 -172px;
      -webkit-background-size: 35px, 260px;
              background-size: 35px, 260px; } }
  /* line 75, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_common.scss */
  .item-fb:hover {
    opacity: .8; }

/* line 79, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_common.scss */
.item-desc {
  margin-top: 26px; }

/* line 3, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_crsl.scss */
.crsl {
  overflow: hidden; }

/* line 6, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_crsl.scss */
.crsl-holder {
  width: 800px;
  margin: auto; }

/* line 11, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_crsl.scss */
.crsl-line {
  position: relative;
  width: 1000em;
  -webkit-transition: left 0.3s ease-in-out;
          transition: left 0.3s ease-in-out; }
  /* line 15, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_crsl.scss */
  .crsl.is__sliding .crsl-line {
    -webkit-transition: none;
            transition: none; }

/* line 19, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_crsl.scss */
.crsl-col {
  float: left;
  width: 160px;
  margin: 0 20px; }

/* line 24, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_crsl.scss */
.crsl-header {
  font-size: 18px;
  text-align: center;
  margin-bottom: 43px;
  opacity: .3;
  -webkit-transition: opacity 0.6s ease-in-out;
          transition: opacity 0.6s ease-in-out; }
  /* line 31, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_crsl.scss */
  .crsl-col.is__active .crsl-header, .crsl.is__sliding .crsl-header {
    opacity: 1;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }

/* line 36, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_crsl.scss */
.crsl-body {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out; }
  /* line 40, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_crsl.scss */
  .crsl-col.is__active .crsl-body, .crsl.is__sliding .crsl-body {
    opacity: 1; }

/* line 45, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_crsl.scss */
.crsl-control {
  position: relative;
  width: 800px;
  margin: 0 auto 45px; }

/* line 50, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_crsl.scss */
.crsl-nav {
  position: absolute;
  width: 21px;
  height: 81px;
  bottom: -98px;
  z-index: 50;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/* line 59, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_crsl.scss */
.crsl-nav_prev {
  background: url("../images/i-sdc4d7bcc0e.png") 0 0 no-repeat;
  left: -55px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resoultion: 192dpi) {
    /* line 59, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_crsl.scss */
    .crsl-nav_prev {
      background: url("../images/r-sa565c79b31.png") 0 0 no-repeat;
      background-position: 0 0;
      -webkit-background-size: 35px, 260px;
              background-size: 35px, 260px; } }

/* line 60, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_crsl.scss */
.crsl-nav_next {
  background: url("../images/i-sdc4d7bcc0e.png") 0 -91px no-repeat;
  right: -55px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resoultion: 192dpi) {
    /* line 60, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_crsl.scss */
    .crsl-nav_next {
      background: url("../images/r-sa565c79b31.png") 0 -172px no-repeat;
      background-position: 0 -86px;
      -webkit-background-size: 35px, 260px;
              background-size: 35px, 260px; } }

/* line 62, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_crsl.scss */
.crsl-slider {
  overflow: hidden;
  padding: 3px;
  text-align: center;
  height: 50px; }

/* line 68, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_crsl.scss */
.crsl-slider-holder {
  position: relative;
  display: inline-block;
  height: 100%; }

/* line 73, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_crsl.scss */
.crsl-slider-list {
  height: 100%; }
  /* line 75, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_crsl.scss */
  .crsl-slider-list span {
    cursor: pointer;
    display: block;
    float: left;
    width: 10px;
    height: 100%;
    background: #7b8081;
    margin: 0 3px;
    -webkit-transition: background-color 0.3s ease-in-out;
            transition: background-color 0.3s ease-in-out; }
    /* line 84, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_crsl.scss */
    .crsl-slider-list span.is__active {
      background: #242c2d; }

/* line 92, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_crsl.scss */
.crsl-slider-handle {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 3px;
  width: 58px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: left 0.3s ease-in-out;
          transition: left 0.3s ease-in-out; }
  /* line 101, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_crsl.scss */
  .crsl-slider-handle:after {
    content: '';
    position: absolute;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
    border: 1px solid #7c8081; }
  /* line 108, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_crsl.scss */
  .crsl.is__sliding .crsl-slider-handle {
    -webkit-transition: none;
            transition: none; }
    /* line 110, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_crsl.scss */
    .crsl.is__sliding .crsl-slider-handle:after {
      border-width: 2px; }

/* line 1, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
.inner {
  margin: auto;
  width: 800px; }
  /* line 4, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
  .inner .item-image {
    display: block;
    width: 360px;
    height: 360px;
    line-height: 360px;
    text-align: center; }
    /* line 10, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
    .inner .item-image img {
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
      max-height: 100%; }
  /* line 17, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
  .inner .item-desc {
    font-weight: bold;
    font-size: 22px; }

/* line 22, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
.inner-main {
  float: left;
  width: 360px; }

/* line 26, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
.inner-side {
  float: right;
  width: 300px; }
  /* line 29, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
  .inner-side a {
    font-weight: bold; }

/* line 33, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
.inner-fb {
  margin-bottom: 20px; }

/* line 36, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
.inner-col {
  float: left;
  width: 50%; }
  /* line 39, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
  .inner-col:last-child {
    padding-left: 10%;
    width: 40%; }

/* line 44, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
.inner-feedback {
  margin: 1em 0; }

/* line 47, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
.inner-top {
  margin-bottom: 30px; }
  /* line 49, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
  .inner.is__expanded .inner-top {
    display: none; }

/* line 53, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
.inner-desc-in {
  display: none; }
  /* line 55, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
  .inner-desc-in.is__active {
    display: block; }

/* line 60, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
.slider {
  position: relative;
  padding-bottom: 50px; }

/* line 64, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
.slider-nav {
  position: absolute;
  top: 45px;
  z-index: 50;
  width: 21px;
  height: 81px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  /* line 72, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
  .inner.is__expanded .slider-nav {
    display: none; }

/* line 76, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
.slider-nav_prev {
  background: url("../images/i-sdc4d7bcc0e.png") 0 0 no-repeat;
  left: -40px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resoultion: 192dpi) {
    /* line 76, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
    .slider-nav_prev {
      background: url("../images/r-sa565c79b31.png") 0 0 no-repeat;
      background-position: 0 0;
      -webkit-background-size: 35px, 260px;
              background-size: 35px, 260px; } }

/* line 77, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
.slider-nav_next {
  background: url("../images/i-sdc4d7bcc0e.png") 0 -91px no-repeat;
  right: -40px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resoultion: 192dpi) {
    /* line 77, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
    .slider-nav_next {
      background: url("../images/r-sa565c79b31.png") 0 -172px no-repeat;
      background-position: 0 -86px;
      -webkit-background-size: 35px, 260px;
              background-size: 35px, 260px; } }

/* line 79, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
.slider-list {
  width: 1000em;
  -webkit-transition: margin-left .3s;
          transition: margin-left .3s; }
  /* line 82, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
  .inner.is__expanded .slider-list {
    margin-left: 0 !important;
    width: 100%; }

/* line 87, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
.slider-holder {
  overflow: hidden; }

/* line 90, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
.slider-item {
  float: left;
  margin: 0 20px;
  width: 160px;
  height: 160px;
  line-height: 160px;
  text-align: center; }
  /* line 97, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
  .inner.is__expanded .slider-item {
    margin-bottom: 40px; }
  /* line 100, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
  .slider-item img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle; }

/* line 107, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
.slider-expander {
  font-weight: bold;
  float: right;
  text-transform: uppercase;
  margin-right: 20px;
  margin-top: 20px; }
  /* line 113, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_inner.scss */
  .inner.is__expanded .slider-expander {
    display: none; }

/* line 6, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
.form h2 {
  font-size: 25px;
  margin: 0 0 1em;
  text-align: center; }

/* line 12, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
.form-row {
  position: relative;
  margin-bottom: 20px;
  padding-left: 200px; }
  /* line 16, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
  .form-row:last-child {
    margin-bottom: 0; }
  /* line 19, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
  .form-row.is__error {
    color: #fe5f4d; }

/* line 23, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
.form-label {
  position: absolute;
  left: 0;
  width: 180px;
  text-align: right;
  line-height: 40px; }
  /* line 29, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
  .form-label span {
    display: inline-block;
    line-height: 1.2;
    vertical-align: middle; }

/* line 35, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
.form-input {
  border: 2px solid #bcbcbc;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
  outline: 0;
  width: 100%; }
  /* line 41, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
  .form-row.is__error .form-input {
    border-color: #fe5f4d; }
  /* line 44, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
  .form-input:focus {
    border-color: #0f60d5; }

/* line 48, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
.form-helper {
  position: absolute;
  top: 0;
  left: 100%;
  background: #fe5f4d;
  color: #fff;
  white-space: nowrap;
  padding: 0 10px;
  line-height: 40px;
  display: none; }
  /* line 58, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
  .form-row.is__error .form-helper {
    display: block; }

/* line 62, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
input.form-input {
  height: 40px; }

/* line 65, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
textarea.form-input {
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px; }

/* line 71, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
.form-checkbox {
  line-height: 40px; }
  /* line 73, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
  .form-checkbox input {
    display: none; }
  /* line 76, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
  .form-checkbox input + i {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
    width: 18px;
    height: 18px;
    border: 2px solid #bcbcbc;
    cursor: pointer; }

/* line 91, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  /* line 99, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
  .chosen-container a {
    cursor: pointer; }

/* line 104, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 40px 0 10px;
  height: 40px;
  border: 2px solid #bcbcbc;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  white-space: nowrap;
  line-height: 36px;
  opacity: 1; }
  /* line 118, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
  .chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  /* line 124, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
  .chosen-container-single .chosen-single div {
    position: absolute;
    right: -2px;
    top: -2px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #bcbcbc;
    text-align: center; }
    /* line 133, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
    .chosen-container-single .chosen-single div b {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg); }
/* line 141, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
.chosen-container-single .chosen-search {
  display: none; }
/* line 144, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
.chosen-container-single .chosen-drop {
  -webkit-background-clip: padding-box;
          background-clip: padding-box; }

/* line 148, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
.chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: 2px solid #bcbcbc;
  border-top: 0;
  background: #fff; }

/* line 160, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
.chosen-results li {
  line-height: 40px;
  padding: 0 10px;
  border-bottom: 2px solid #bcbcbc; }
  /* line 164, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
  .chosen-results li:last-child {
    border-bottom: 0; }
  /* line 167, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
  .chosen-results li.active-result {
    cursor: pointer; }
    /* line 169, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
    .chosen-results li.active-result:hover {
      background: #0f60d5;
      color: #fff; }

/* line 177, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
.chosen-with-drop .chosen-drop {
  left: 0; }
/* line 182, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
.chosen-with-drop .chosen-single div b {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }

/* line 189, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
.form-button {
  padding: 0 60px; }

/* line 195, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
.popup {
  position: relative;
  width: 600px;
  margin: auto;
  padding: 20px 40px;
  background: #fff; }

/* line 203, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
.button {
  display: inline-block;
  line-height: 52px;
  background: #bcbcbc;
  padding: 0 20px;
  color: #000;
  font-weight: normal;
  font-size: 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  border: 0;
  outline: 0; }
  /* line 215, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
  .button:hover {
    background: #0f60d5;
    color: #fff; }

/* line 221, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
.ok {
  text-align: center;
  font-size: 20px; }
  /* line 224, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
  .ok h2 {
    margin: 0; }

/* line 228, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
.error_server {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  background: #fe5f4d;
  color: #fff;
  text-align: center;
  display: none; }
  /* line 238, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
  .form.is__error .error_server {
    display: block; }

/* line 242, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
.mfp-bg {
  z-index: 10001; }

/* line 245, /Users/stfoo/Work/hse/museum.static/source/assets/stylesheets/_form.scss */
.mfp-wrap {
  z-index: 10002; }
